@font-face {
    font-family: 'Lato Black';
    src: url('assets/fonts/Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Lato Regular';
    src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
html {
    font-size: 10px;
}
    
body {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 1.6rem;
    background-color: #fbfbfb;
}
    
.header {
    width: 100%;
    height: 89px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.wrapper {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
}
/*.heder__navigation {
    display: flex;
}*/
.logo {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    letter-spacing: -0.02em;
    padding-top: 12px;
}
.logo span {
    color: #f06c64;
}
.navigation li {
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 29px;
    color: #ffffff;
    padding-top: 23px;
    /*letter-spacing: -0.05rem;*/
}
.li {
    position: relative;
}
li:hover {
    cursor: pointer;
    color: #f06c64;
}
.li:not(:last-child)::after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 29px;
    right: -16px;
}
ul {
    list-style: none;
  }
  .navigation li:last-child {
    margin-right: 0;
}

/*slider*/

.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}
.slider__content {
    display: flex;
}
.arrow {
    display: flex;
    justify-content: space-between;
    }
.arrow img:hover {
    cursor: pointer;
    color: #5a211e;
}    
.left {
    padding-top: 281px;
    padding-left: 2px;
}
.rigth {
    transform: rotate(180deg);
    padding-top: 232px;
    padding-right: 55px;
}

.iPhone_vertical {
   padding-top: 53px;
   padding-left: 54px;
}
.iPhone_horizontal {
    padding-top: 174px;
    padding-left: 73px;
 }
 .services_text {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.02rem;
    padding-top: 59px;
    color: #666d89;
    word-spacing: -1.5px;
    margin: 0 0 25px 0;
    font-family: 'Lato Black', Verdana, sans-serif;
 }
 .services_description {
    font-size: 18px;
    font-weight: 300;
    color: #767e9e;
    line-height: 31px;
    text-align: justify;
    letter-spacing: -0.034rem;
    margin-top: -7px;
}
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services {
    height: 495px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
}
.block__icon {
    height: 123px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}
h3 {
    margin-top: 23px;
    padding-left: 18px;
    color: #666d89;
    font-family: 'Lato Black', Verdana, sans-serif;
    letter-spacing: -0.038rem;
}
.icon-circle {
    padding-top: 26px;
}
.block__icon p {
    width: 220px;
    position: absolute;
    font-size: 12px;
    color: #666d89;
    text-align: justify;
    margin-top: 54px;
    margin-left: 80px;
    line-height: 21px;
}
h2 {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.02rem;
    padding-top: 60px;
    color: #666d89;
    word-spacing: -1.5px;
    margin: auto;
    font-family: 'Lato Black', Verdana, sans-serif;
 }
 .portfolio__text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: -0.035rem;
    margin-bottom: 0px;
 }
 .portfolio {
    height: 864px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
 }
 .portfolio__tags {
     display: flex;
 }
 .tag_bordered {
    font-size: 12px;
    line-height: 14px;
    color: #767e9e;
    border: 1px solid #666d89;
    border-radius: 5px;
    cursor: pointer;
    margin: 11px 9px 0px 1px;
    padding: 3px 7px 3px 7px;
    letter-spacing: -0.024rem;
 }
 .tag_bordered:hover {
     color: white;
     border-color: white;
 }
 .portfolio__project {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 0;
     margin: 0;
 }
 .portfolio__project-img {
     list-style: none;
     margin: 19px 0 -2px 0;
 }
 .portfolio__project-img:nth-child(1n+13){
     display: none;
 }
 .about-us {
    height: 728px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff;
 }
 .about-us__text {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: -0.017rem;
    margin-bottom: 0px;
 }
 .layout-3-column {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 19px;
 }
 .card {
    flex-basis: 300px;
 }
.card__name {
    margin-top: 11px;
    margin-bottom: 0px;
    font-size: 18px;
    color: #666d89;
    letter-spacing: 0.015rem;
 }
 .card__text {
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    margin-top: 9px;
 }
 .social-media {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin-top: 24px;
    width: 152px;
 }
 .social-icon {
    list-style: none;
    cursor: pointer;
 }
 .contact {
    height: 648px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}
h2 {
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.02rem;
    padding-top: 60px;
    color: #f0d8d9;
    word-spacing: -1.5px;
    margin: auto;
    font-family: 'Lato Black', Verdana, sans-serif;
 }
.contact-text {
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    letter-spacing: -0.03rem;
    margin-bottom: 0px;
    text-align: justify;
 }
 .contact__content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
 }
 .contact__form {
     margin-top: 3px;
     width: 618px;
 }
.input-text {
  padding: 12px 15px;
  width: 619px;
  box-sizing: border-box;
  margin-bottom: 16px;
  font: normal 12px/14px "Lato", "Arial", sans-serif;
  
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f0d8d9;
}
::placeholder {
    color: #f48c8f;
    opacity: 1;
  }
  
textarea {
    padding: 11px 15px 13px 14px;
    resize: none;
    max-height: 202px;
    height: 203px;
  }
  

  .sabmit {
    padding: 12px 14px 10px;
    border-radius: 5px;
    width: initial;
    background-color: transparent;
    color: #f0d8d9;
    border: 1px solid #f0d8d9;

  }
  .sabmit:focus:invalid {
    filter: saturate(1.5);
  }
  .sabmit:hover {
    padding: 13px 15px 11px;
  
    background-color: #f0d8d9;
    color: var(--primary);
    border: none;
  }
h4 {
    font-size: 18px;
    letter-spacing: 0.02rem;
    padding-left: 21px;
    color: #f0d8d9;
    word-spacing: -1.5px;
    margin-top: 1px;
    margin-bottom: 0px;
    font-family: 'Lato Black', Verdana, sans-serif;
}
.contact__info-text {
    margin: 7px 0 0 21px;
    font-size: 12px;
    letter-spacing: -0.02rem;
    line-height: 22px;
    text-align: justify;
    hyphens: manual;
    color: #f0d8d9;
}
.address {
    margin-block-start: 0;
    margin-top: 20px;
  
    letter-spacing: -0.013em;
  
    background: transparent url("assets/img/icon-location.svg") no-repeat 3px center;
  }
  footer {
    height: 76px;
    background-color: #2d303a;
    
  }
  .social-media {
    display: flex;
    justify-content: flex-end;
  }  